{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{% static 'style/style.css' %}" type="text/css" rel="stylesheet">

        <title>MERS</title>
        <script>


            function areaRectagle(){
                var a=document.forma1.t1.value;
                var b=document.forma1.t2.value;
                var s=b/a;
                document.forma1.res.value=s;
            }

            function ab(){
                var a ="Ваше сообщение принято "+document.as.nik.value;
                document.write(a);

            }

            function big(){
                var name=prompt("Какой у вас товар?");
                alert("Извините но мы не продаем "+name)
            }

        </script>
    </head>
    <body>

    </body>
        <header>
            {% load staticfiles %}
            <div>
               <img src="{% static 'image/m1.jpg' %}" width="120">
                <span> Mersedes-Benz
                </span>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="history.html"> История </a></li>
                <li><a href="blog.html"> Видеоблоги </a> </li>
                <li><a onclick="big();" href="#">Модели</a>
                    <ul class="submenu">
                        <li><a href="me1.html">E-class</a></li>
                        <li><a href="mc.html">C-class</a></li>
                        <li><a href="ms.html">S-class</a></li>
                    </ul>
                </li>
                <li><a href="acses.html"> Аксессуары </a></li>
            </ul>

        </nav>
    <main>
        <span class="kalkulator">
            <form name="forma1">
                Расход топлива: <input type="text" name="t1" size="10"><br><br>
                На сколько км: <input type="text" name="t2" size="10"><br><br>
                <input type="button" name="button" value="Вычеслить" onclick="areaRectagle();"><br><br>
                Расход составит <input type="text" name="res" size="10">
            </form>
        </span>
        <div>
            <div class="d1">
                <h5>Новые модели</h5>
                <a href=""><h6>>Новый модель classa-E</h6></a>
                <p>Mercedes Benz делает ещё один важный шаг на пути к безаварийному и автоматическому движению.</p>
                <a href=""><h6>>Новый SL</h6></a>
                <p>SL – лидер в самых разных дисциплинах. Это и элегантный родстер для комфортного движения на крейсерской скорости, и динамичное купе для спортивных виражей.</p>
                <a href=""><h6>>Новый SLC</h6></a>
                <p>Ровно к своему 20-летнему юбилею этот эталон среди компактных родстеров получает новое имя – SLC и выходит в свет в ещё более совершенном виде и внешне, и технически.</p>
            </div>

            <div class="d2">
                <h5>AMG</h5>
                <a href=""><h6>>Mercedes-AMG CLA 45 4MATIC купе </h6></a>
                <p> Развивая максимальную мощность в 381 л.с. и максимальный крутящий момент в 475 Н·м, эти автомобили принадлежат к числу самых мощных представителей своего сегмента.</p>
                <a href=""><h6>Mercedes-AMG GLE 63 4MATIC Купе </h6></a>
                <p>Этот автомобиль своим дизайном вызывает эмоции, впечатляет мощностью. Откройте для спортивность, доведённую до абсолютной высоты.</p>
                <a href=""><h6>Mercedes-AMG GLS 63 4MATIC </h6></a>
                <p>Эффектный, излучающий силу дизайн и внушительная стать данного автомобиля впечатляющим образом визуально передают спортивную динамику AMG.</p>
            </div>
        </div>
            <span class="operator">
                <H4>Написать нам!</H4>
                <form name="as">
                    <p>Имя:</p><input name="nik" onblur="this.value=this.value.toUpperCase()">
                    <p>Сообщение:</p><input name="message" onblur="this.value=this.value.toUpperCase()">
                    <input type="button" value="OK" onclick="ab();">

                </form>
            </span>
            <div style="clear:both"></div>
             {% block content %}
            {% endblock %}
    </main>
        <footer>
        </footer>
    </body>
</html>
