body{
	background-color: black;
}
header{
	background-color:#f4fdfa;
	text-align:left;
	font-size:115px;
	font-family: arial; tahoma ;
	border-radius: 35px;
}

span{
	color: #800000;
}


nav{
	background-color: #f4fdfa;
	padding-left: 225px;
	height: 32px;
	border-radius: 15px;
}

nav ul li a{
	text-align: left;
	font-size: 22px;
	color: blue;
}

nav ul li a:hover{
	text-decoration: none;
	background: #DC143C;
}

nav ul{
	padding-top: 0px;
	margin-top: 0px;
}

nav ul li{
	float: left;
	list-style: none;
	margin-left: 25px;
}

nav li{
	position: relative;
}

nav li:hover ul{
	display: block;
}

.submenu{
	display: none;
	width: 150px;
	position: absolute;
	background: #7FFFD4;
}

main div{
	float: left;
	background-color: #fdfdfd;
	text-align: justify;
	text-indent: 25px;
	font-size: 18px;
	font-family: tahoma;
}

p{
	font-size: 13px;
}

.d1{
	margin: 10px;
	width: 370px;
	height: 100%;
}

.d2{width: 370px;
	height: 100%;
	margin: 10px;
}

.imgst{
	width: 70px;
	height: 50px;
}

.operator{
	float: left;
	height: 200px;
	background-color: grey;
	padding: 10px;
}

.kalkulator{
	float: left;
	height: 200px;
	background-color: grey;
	padding: 10px;
	margin-left: 10px;
}